- function rangeFor(length) { return Array.from({ length }).map((_, key) => key); }
- var segment = self && self.parent.split('/').slice(2).join('/').replace(/\.\w+$/, '')
- var url = `/${segment === 'index' ? '' : segment || ''}`;

mixin linkFor(path, title, external)
  - var target = external ? '_blank' : undefined;
  - var href = path.indexOf('://') === -1 ? `${ROOT || ''}${path}` : path;

  if path === url
    a.link(target=target aria-current='page' href=href)&attributes(attributes) #{title}
      if block
        block
  else
    a.link(target=target href=href)&attributes(attributes) #{title}
      if block
        block

mixin iconImage(name)
  if env.NODE_ENV !== 'production'
    srcFile(src=`src/resources/sprites/${name}.svg`)
  else
    svgIcon(src=name)

mixin slider(path, length)
  - var prefix = `${ROOT || ''}${path}`

  .slideshow&attributes(attributes)
    for i in rangeFor(length)
      .target(id=`slide${i + 1}`)

    .slider
      if block
        block

    .arrows
      for i in rangeFor(length)
        div
          a(href=`${prefix}#slide${i === 0 ? length : i}`): +iconImage('left')
          a(href=`${prefix}#slide${i < length - 1 ? i + 2 : 1}`): +iconImage('right')

    .bullets
      for i in rangeFor(length)
        a(href=`${prefix}#slide${i + 1}`) #{i + 1}
