#cat
  ul.nosl.reset
    each item in data.items
      li.fix-cover
        .overlay
          .actions
            +linkFor(`/${item.product.key}/`, 'Ver más').solid-shadow.button
            button.solid-shadow(data-buy=item.product.key) $#{item.product.price} MXN &mdash; COMPRAR
        img(alt=item.product.name src=item.product.image)
