---
product: !include ../products/marybrew-coffee.yml
---

extends ../lib/layouts/default

block head
  title= product.name

block body
  #it.segment
    .md-flex
      +slider('/marybrew-coffee/', 3).product-slider
        div(style='background:#5b8;')
          h2 Slide 1
        div(style='background:#85b;')
          h2 Slide 2
        div(style='background:#e95;')
          h2 Slide 3
        div(style='background:#e59;')
          h2 Slide 4
      aside
        h1.biggest= product.name
        ul.reset
          li.f-400!= product.label

          if product.profile
            li!= product.profile

          if product.quantity
            li!= product.quantity

        button.nosl.shadowed SHOP NOW

        if product.description
          p!= product.description

        if product.our_suggestion
          p!= product.our_suggestion

        if product.additional_info
          p: b.small!= product.additional_info
